.display {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.filter {
  width: 20vw;
  min-height: 100vh;
  border-right: 1px solid #d7d7d7;
}

.products {
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 3rem;
}

.card {
  width: 15vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 2px solid black;
  padding: 1rem;
}
.card:hover {
  transform: scale(1.02);
}

.card > .details {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card > img {
  width: 14vw;
  height: 38vh;
  mix-blend-mode: color-burn;
}

.card > .details > .name {
  font-weight: bolder;
  font-size: 1.1rem;
  // width: 90%;
}

.card > .details > .pricedetails {
  display: flex;
  gap: 1rem;
  font-weight: 500;
}
.card > .details > .pricedetails > .currentprice {
  font-size: 0.8rem;
}
.card > .details > .pricedetails > .oldprice {
  color: #6f6f6f;
  text-decoration: line-through;
  font-size: 0.7rem;
  display: flex;
  align-items: flex-end;
}
